<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 페이지</title>
</head>
<body>
<h1>내 문의 목록</h1>
<form method="get" action="/cs">
    <label for="category">분류 선택:</label>
    <select name="category" id="category">
        <option value="">전체</option>
        <option value="COMPLAINT" th:selected="${param.category == 'COMPLAINT'}">불만 접수</option>
        <option value="SUGGESTION" th:selected="${param.category == 'SUGGESTION'}">제안</option>
        <option value="REFUND" th:selected="${param.category == 'REFUND'}">환불/교환</option>
        <option value="PRAISE" th:selected="${param.category == 'PRAISE'}">칭찬해요</option>
        <option value="ETC" th:selected="${param.category == 'ETC'}">기타 문의</option>
    </select>
    <button type="submit">검색</button>
</form>
<br />

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>분류</th>
        <th>작성일시</th>
        <th>답변 여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inquiry : ${inquiryList}">
        <td><a th:href="@{/cs/inquiry/{id}(id=${inquiry.id})}" th:text="${inquiry.title}">제목</a></td>
        <td th:text="${inquiry.category.getLabel()}">분류</td>
        <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}">작성일시</td>
        <td th:text="${inquiry.answered}">답변 여부</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/cs/inquiry/register">문의 하기</a>

<br/><br/>
<a href="/logout">로그아웃</a>
</body>
</html>