<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 페이지</title>
</head>
<body>
<h1>고객 문의 목록</h1>

<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>분류</th>
        <th>작성일시</th>
        <th>답변 여부</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inquiry : ${inquiryList}">
        <td><a th:href="@{/cs/inquiry/{id}(id=${inquiry.id})}" th:text="${inquiry.title}">제목</a></td>
        <td th:text="${inquiry.category.getLabel()}">분류</td>
        <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}">작성일시</td>
        <td th:text="${inquiry.answered}">답변 여부</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/logout">로그아웃</a>



</body>
</html>