<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>고객 페이지</title>
</head>
<body>
<h1>고객 문의 목록</h1>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inquiry : ${inquiryList}">
        <td th:text="${inquiry.title}">제목</td>
        <td th:text="${inquiry.content}">내용</td>
        <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd HH:mm')}">작성일</td>
    </tr>
    <tr th:if="${#lists.isEmpty(inquiryList)}">
        <td colspan="4">문의 내역이 없습니다.</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/logout">로그아웃</a>



</body>
</html>