<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문의 등록</title>
</head>
<body>
<h1>문의 하기</h1>

    <form method="post" enctype="multipart/form-data" action="/cs/inquiry/register">
        제목: <input type="text" name="title" /><br/><br/>
        분류:
            <label>
                <input type="radio" name="category" value="COMPLAINT" required />
                불만 접수
            </label>
            <label>
                <input type="radio" name="category" value="SUGGESTION" required />
                제안
            </label>
            <label>
                <input type="radio" name="category" value="REFUND" required />
                환불/교환
            </label>
            <label>
                <input type="radio" name="category" value="PRAISE" required />
                칭찬해요
            </label>
            <label>
                <input type="radio" name="category" value="ETC" required />
                기타 문의
            </label>
        <br /><br />
        내용: <textarea name="content" cols="40" rows="8"></textarea><br /><br />

        파일첨부: <input type="file" name="files" multiple /><br /><br />

        <input type="submit" value="확인" />
        <input type="button" value="취소" onclick="location.href='/cs'" />
    </form>

    <br/>
</body>
</html>